{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 120,
    "endOfLine": "crlf"
}
